* {
  margin: 0;
  padding: 0;
}

body {
  padding: 25px;
}

#app {
  max-width: 800px;
  margin: auto;
}

:root {
  ---light-cyan: #0d70ea;
}

.todos {
  margin-top: 30px;
}

.addTodoForm {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addTodoForm input {
  flex: 0.85;
  border: 3px solid lightgray;
  border-right: none;
}

.addTodoForm button {
  flex: 0.15;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  align-items: center;
  border: 3px solid transparent;
  background-color: var(---light-cyan);
}
input[type='checkbox'] {
  height: 30px;
  width: 30px;
}
input[type='checkbox']:checked + label {
  text-decoration: line-through;
}

input[type='search'] {
  width: 100%;
  margin: 20px 0 10px;
  border: 3px solid lightgray;
}

input[type='search']:focus {
  border-right: 3px solid #0d70ea !important;
}

li {
  padding: 7px;
  margin: 3px;
  display: flex;
  list-style: none;
  position: relative;
  align-items: center;
  background: lightgray;
  animation: 0.45s cubic-bezier(0.165, 0.84, 0.44, 1) fadeIn;
}
li label {
  flex: 0.5;
  font-size: 0.8em;
  font-weight: bold;
  padding-left: 10px;
}
.icons {
  right: 20px;
  font-size: 20px;
  position: absolute;
  cursor: pointer;
}
.icons * {
  margin: 0 0 0 10px;
}
.icons svg:first-child {
  color: green;
}
.icons svg:last-child {
  color: red;
}

li .deleteIcon:hover,
li .deleteIcon:focus {
  color: red;
}

.todosCount {
  position: absolute;
  right: 30px;
  top: 30px;
  background-color: var(---light-cyan);
  color: white;
  font-weight: 600;
  padding: 10px 14px;
  border-radius: 50%;
}

.empty {
  color: rgb(0, 42, 255);
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
}

input[type='text']:focus,
input[type='search']:focus {
  border: 3px solid var(---light-cyan);
  border-right: 0;
}

button,
input:not(input[type='checkbox']) {
  padding: 12px;
  font-weight: 600;
  font-size: 0.9em;
  outline: none;
  font-family: 'Dejavu sans';
  transition: 0.3s ease;
}

button:not(.addTodoForm button) {
  flex: 1;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 0.9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 15px;
  background-image: linear-gradient(#0dccea, var(---light-cyan));
  transition: background-image 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
button:not(.addTodoForm button):hover {
  background-image: linear-gradient(#11adc5, #0f5ebf);
}

.addTodoForm button:disabled {
  box-shadow: none;
  font-size: 0.9em;
  cursor: not-allowed;
  background-color: rgba(13, 112, 234, 0.6);
}

.custom-btn-filter {
  width: 50%;
  margin: 50px auto 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

.custom-btn-filter button {
  flex: 1;
  display: inline;
}
.message {
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

/* ------ animations ------ */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ------ media queries ------  */
@media (max-width: 700px) {
  .custom-btn-filter {
    width: 60%;
    margin: 30px auto 0;
    gap: 5px;
  }
  .addTodoForm input {
    flex: 0.75;
  }
  .addTodoForm button {
    flex: 0.25;
  }
}
